// font
$font-family: 'Raleway', sans-serif;

// font size
$fontMedium: 400;
$fontShort: 300;
$fontSmall: 200;
$fontSmallest: 100;

// colors
$oneColor: gray;
$secondColor: lightblue;
$threeColor: lightgreen;

// positions
$padding: 20px;
$margin: 0 auto;
$width: 100%;
$right: right;
$twoMargin: 200px;

h2 { 
    font-family: $font-family;
    font-weight: $fontShort;
}

h3 {
    font-family: $font-family;
    font-weight: $fontSmall;
}

h5 {
    font-family: $font-family;
    font-weight: $fontMedium;
}

h6 {
    font-family: $font-family;
    font-weight: $fontSmallest;
}

.p {
    color: $oneColor;
}

.bluebox {
    background-color: $secondColor;
    padding: $padding;
    margin: $margin;
    width: $width;
}

.dirección {
    text-align: $right;
}

.txt {
    color: $threeColor;
}

.p2 { 
    margin: $twoMargin;
}